html {
    box-sizing: border-box;
  }
  
  *, ::after, ::before {
    box-sizing: inherit;
  }
  
  
  
    
  
  
  .form__labelText {
      width: 150px;
      display: inline-block;
      margin-right: 5px;
  }
  
  
  .form__button {
      width: 210px;
      display: inline-block;
      margin-right: 5px;
      background-color: aquamarine;
      border-radius: 5px;
  }
  
  
  .form__button:hover {
      background-color: rgb(127, 193, 255);
  }
  

  .form__button:active {
      background-color: rgb(155, 127, 255);
  }
  .
  