.body {
        margin: auto;
        max-width: 1000px;
        font-family: "Lato", sans-serif;
    border-collapse: collapse;
} 

.przelicznik {
  
    text-align: center;
     align-items: center;
   background-color: rgba(144, 172, 255, 0.4);
     border-radius: 30px;
     padding-bottom: 50px;
     padding-top: 50px;
   max-width: 520px;
     min-width: 320px;
 }